*{margin: 0; padding: 0;}

.fondo {
	width: 100%; /* en porcentaje (el highlight del foro lo trasforma) */
    height: 100%;
    top:0;
    left:0;
    position:fixed;
    z-index: -1;
}

body > .contenedor {
	position: absolute;
	width: 100%;
	top: 50%;
	z-index: -1;
}

body .contenedor > div {
	float: left;
	margin: auto;
}

body .contenedor .izquierda {
	/*background-color: #E62D4F;*/
	width: 25%
}

body .contenedor .centro {
	background-color: #3BEAF1;
	width: 50%;
}

body .contenedor .derecha {
	/*background-color: #E62D4F;*/
	width: 25%;
}

body .contenedor .derecha a img {
	float: right;
	box-shadow: 2px 2px 2px 2px #000;
		-moz-box-shadow:2px 2px 2px 2px #000;
		-webkit-box-shadow:2px 2px 2px 2px #000;
	margin: 0 60px 0 0;
	transform: translate(0px);
  		-moz-transform: translate(0px);
  		-webkit-transform: translate(0px);
  	transition: all 500ms ease-in-out;
  		-moz-transition: all 500ms ease-in-out;
  		-webkit-transition: all 500ms ease-in-out;
  	opacity: 0.3;
}

body .contenedor .derecha a:hover img {
	transform:translate(60px,0px);
    	-moz-transform:translate(60px,0px); 
    	-webkit-transform:translate(60px,0px);
    opacity: 1;
}

body .contenedor .izquierda a img {
	box-shadow: 2px 2px 2px 2px #000;
	-moz-box-shadow:2px 2px 2px 2px #000;
	-webkit-box-shadow:2px 2px 2px 2px #000;
	margin: 0 0 0 60px;
	transform: translate(0px);
  	-moz-transform: translate(0px);
  	-webkit-transform: translate(0px);
  	transition: all 500ms ease-in-out;
  	-moz-transition: all 500ms ease-in-out;
  	-webkit-transition: all 500ms ease-in-out;
  	opacity: 0.3;
}

body .contenedor .izquierda a:hover img {
	transform:translate(-50px,0px);
    	-moz-transform:translate(-60px,0px); 
    	-webkit-transform:translate(-60px,0px);
    	-o-transform:translate(-60px,0px); 
    opacity: 1;
}

body .contenedor .izquierda h3 {
	line-height: 200px;
	position: absolute;
	z-index: -1;
	left: 130px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Slab', serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Great Vibes', cursive;
	color: #FFFFFF;
}

body .contenedor .derecha h3 {
	line-height: 200px;
	position: absolute;
	right: 135px;
	font-size: 20px;
	z-index: -1;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Slab', serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Great Vibes', cursive;
	color: #FFFFFF;
}

body .contenedor div img {
	width: 200px;
	height: 200px;
	float: left;
}

body .FondoZapato .enlacelogo .logo {
	width: 180px;
	height:147px;
	background-color: #E62D4F;
	opacity: 0.7;
	border-radius: 100px;
	margin-top: 0px;
	position: fixed;
	z-index: 1;
	box-shadow: 2px 2px 2px #000;
		-moz-box-shadow: 2px 2px 2px #000;
		-webkit-box-shadow: 2px 2px 2px #000;
	background-image:-webkit-linear-gradient(#000000, #77BCE6);
	-webkit-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

body .FondoZapato .enlacelogo:hover .logo {

	transform: scale(1.2);
	opacity: 1;

}

body header .wrapper h3 {
	font-size: 36px;
	line-height: 200px;
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Slab', serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Great Vibes', cursive;
	color: #F9F4F5;
	left: 180px;
}

header {
	width: 100%;
	overflow: hidden;
	/*background-color: #000000;*/
	/*background-image: url(https://www.smashingmagazine.com/images/header-contest/full/Woman-Confident-Fear.jpg);*/
	clear: both;
	box-shadow: 2px 2px 2px #000;
		-moz-box-shadow: 2px 2px 2px #000;
		-webkit-box-shadow: 2px 2px 2px #000;
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		position: fixed;
		height: 24%;
	background-image:-webkit-linear-gradient(#77BCE6, #000000);
}

.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.wrapper2 {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

header .logo {
	float: left;
}

header .menu {
	float: right;
	line-height: 200px;
}

header .menu a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Slab', serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Great Vibes', cursive;
	-weight: bold;
	-webkit-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

header .menu a:hover {
	/*background: #f56f3a;*/
	background-image:-webkit-linear-gradient(#77BCE6, #000000);
	border-radius: 30px;
	transform: scale(1.2);
	-webkit-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

footer {
	width: 100%;
	/*background-image: url(https://github.com/mariojose28/Proyecto-WEB/blob/master/Imagenes/footer.jpg);*/
	background-image:-webkit-linear-gradient(#77BCE6, #000000);
	float: left;
	clear: both;
	box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;

	opacity: 0.8;
	margin-top: 50%;
}

footer section {
	width: 25%;
	float: left;
	padding: 0%;
	margin: auto;
}

footer .contacto p:hover {
	opacity: 
}

footer .wrapper2 .contacto {
	text-align: justify;
	line-height: 150%;
}

footer .wrapper2 .contacto p {
	font-size: 13px;
}

footer .wrapper2 > section {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	height: 200px;
}

footer .wrapper2 .LogoZapato img {
	margin-left: auto;
}

footer .wrapper2 .ubicacion iframe {
	margin-top: 20px;
}

footer .wrapper2 .Social a {
	text-align: center;
}

footer .wrapper2 > section:hover {
	/*background: #f56f3a;*/
	background-image:-webkit-linear-gradient(#000000, #77BCE6);
	/*transform: scale(1.0);*/
	border-radius: 20%;
	text-align: center;
	height: 200px;
	width: 220px;
	-webkit-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

footer .wrapper2 .LogoZapato:hover {
	margin-bottom: 20px;
}

@media screen and (max-width: 950px) {
	header .menu {
		width: 100%;
		text-align: center;
		line-height: 100px;
	}

	header div .logo {
		width: auto;
		margin-left: 35%;
		margin-right: 35%;
	}

}