body {margin: 0; padding: 0;}

.fondo {
	width: 100%; /* en porcentaje (el highlight del foro lo trasforma) */
    height: 100%;
    top:0;
    left:0;
    position:fixed;
    z-index: -1;
}

header {
	width: 100%;
	box-shadow: 2px 2px 2px #000;
	border-radius: 10px;
	background-image:-webkit-linear-gradient(#000000,#77BCE6);
	position: fixed;
	top: 0%;
    height: 25%;
    overflow: hidden;
}

.Redes-Sociales {
	position: fixed;
    left: 20%;
    top: 18%;
    z-index: 1;
}

.Redes-Sociales li a img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
	background-image:-webkit-linear-gradient(#77BCE6, #000000);
	-webkit-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
	margin-left: -7px;
}

.Redes-Sociales > li {
	float: 	left;
	list-style: none;			
}

.Redes-Sociales li a:hover img {
	transform: scale(1.2);
	opacity: 1;
}

.wrapper-header {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
    height: 100%;
}

.wrapper-header h4 {
    font-size: 40px;
	position: relative;
    top: 0%;
	color: #F9F4F5;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Niconne', cursive;
}

.wrapper-header h3 {
	font-size: 36px;
    top: 30%;
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Slab', serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Great Vibes', cursive;
	color: #F9F4F5;
}

.menu {
    position: absolute;
    width: 30%;
    left: 60%;
    top: 50%;
}

.menu a {
	color: #F9F4F5;
	text-decoration: none;
	padding: 5px 10px; /*10px heigh y top, 20px lrft y right*/
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	font-family: 'Josefin Slab', serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Great Vibes', cursive;
}

.menu a:hover {
	background-image:-webkit-linear-gradient(#77BCE6, #000000);
	border-radius: 30px;
    transition: all 800ms ease;
}

.Primera{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 450px;
    overflow: hidden;
    max-width: 1348px;
}

.izquierda {
    position: relative;
	width: 25%;
    height: 100%;
    float: left;
}

.izquierda img {
	margin-left: 60px;
  	transition: all 500ms ease-in-out;
  	opacity: 0.3;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.izquierda a:hover img {
	transform:translate(-50px,0px);
    opacity: 1;
}

.derecha {
    position: absolute;
	width: 25%;
    height: 100%;
    left: 75%;
}

.derecha a img {
	position: relative;
    width: 100%;
    height: 100%;
  	transition: all 500ms ease-in-out;
  	opacity: 0.3;
    margin-left: -15%;
}

.derecha a:hover img {
	transform:translate(60px,0px);
    opacity: 1;
}

.centro {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.myslides {
    top: -40px;
    width: 450px;
    height: 530px;
    margin-left: 17%;
    transform: rotate(90deg);
    position: absolute;
	border-radius: 50px;
	box-shadow: 2px 2px 2px #000;
}

.LogoSuperior {
    width: 15%;
}

.logo {
	width: 140px;
	height:130px;
    left: 15%;
    float: left;
	opacity: 0.7;
	border-radius: 100px;
	top: 16px;
	position: relative;
	box-shadow: 2px 2px 2px #000;
	background-image:linear-gradient(#77BCE6, #000000);
	transition: all 800ms ease;
}

.enlacelogo:hover .logo {
	transform: scale(1.3);
	opacity: 1;
}

footer {
	width: 100%;
	background-image:linear-gradient(#77BCE6, #000000);
	box-shadow: 2px 2px 2px #000;
	border-radius: 15px;
	opacity: 0.8;
	position: relative;
    height: 200px;
    top: 500px;
    overflow: hidden;
}

.wrapper-footer {
    position: relative;
    width: 70%;
    left: 15%;
}

.wrapper-footer > section {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	height: 200px;
    width: 25%;
    float: left;
}

.ubicacion iframe {
	margin-top: 20px;
}

.Logo-footer{
    position: relative;
    width=165px;
    height: 170px;
}

.wrapper-footer > section:hover {
	background-image:linear-gradient(#000000, #77BCE6);
	border-radius: 20%;
	text-align: center;
	transition: all 800ms ease;
}