body {padding: 0; margin: o;}

.Container {
    width: 100%;
    z-index: -1;
}

.imageTienda {
    position: relative;
    width: 50%;
    height: 100%;
}

.imageTienda img {
    position: relative;
    width: 650px;
    height: 450px;
    float: left;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 2px;
    margin-left: 2px;
}

.informacion {
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
    text-align: justify;
}

.informacion h3 {
    text-align: center;
}

.David {
    position: relative;
    width: 50%;
}

.imgDavid {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 2px;
}

.David p {
    position: absolute;
    text-align: center;
    width: 200px;
    margin-top: 150px;
    background-color: black;
    opacity: 0.7;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px;
}

.Mario {
    position: absolute;
    width: 50%;
    left: 50%;
}

.imgMario {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 2px;
    margin-left: 27%;
}

.Mario p {
    position: absolute;
    margin-left: 27%;
    text-align: center;
    width: 200px;
    top: 134px;
    background-color: black;
    opacity: 0.7;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px;
}

